doctype html
html
  head
    title "Socket.io Sample"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script(type='text/javascript', src='http://localhost:3000/socket.io/socket.io.js')
  body
    block content